.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
}

.link{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "TT Hoves";
    margin-top: 10px;
    font-weight: 500;
    background-color: #299197;
    color: #fff;
    border: 1px solid #299197;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    cursor: pointer;
    transition: .3s;
}

.link:hover{
    background-color: inherit;
    color: #299197;
    transition: .3s;
}
