/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.container{
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    padding: 30px;
    width: 360px;
}

.content h3{
    font-family: "TT Hoves";
    font-weight: 700;
    color: #02172d;
    font-size: 28px;
    margin-bottom: 20px;
}

.content h4{
    font-family: "TT Hoves";
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.5em;
    margin-bottom: 20px;
    color: #02172d;
}

.content div{
    display: flex;
    flex-direction: column;
}

.content div span{
    font-family: "TT Hoves";
    font-weight: 500;
    font-size: 16px;

}

.content div input{
    padding: 6px 10px;
    border: none;
    border-bottom: 3px solid #ccc;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #000;
    background-color: inherit;
    outline: none;
}

.content div input:focus{
    border-bottom: 3px solid #299197;
}

.content div button{
    margin-top: 18px;
    font-family: "TT Hoves";
    font-weight: 700;
    background-color: #299197;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #299197;
    border-radius: 5px;
    width: 170px;
    height: 40px;
    cursor: pointer;
    transition: .3s;
}

.content div button:hover{
    background-color: inherit;
    color: #299197;
    transition: .3s;
}


