@font-face {
    font-family: "TT Hoves";
    font-display: block;
    font-weight: 700;
    font-style: normal;
    src: local("TT Hoves Bold"), local("TTHoves-Bold"),url('fonts/TTHoves-Bold.woff'), url('fonts/TTHoves-Bold.woff2');
}

@font-face {
    font-family: "TT Hoves";
    font-display: block;
    font-weight: 500;
    font-style: normal;
    src: local("TT Hoves Medium"), local("TTHoves-Medium"),url('fonts/TTHoves-Medium.woff'), url('fonts/TTHoves-Medium.woff2');
}


a{
  text-decoration: none
}

button{
    border: none;
    outline: none;
}

h3,h4{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
